@import "variables.scss";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: $mainFont;
    letter-spacing: 1px;
}

body{
    width: 100%;
    max-width: 768px;
    height: 100%;
    color: #ffffff;
    background-image: url(../imgs/background.jpg);
    background-position: center top;
    margin: 0 auto;
    padding: 0;
}

.fontHighlight{
    color: $secondaryColor;        
}

.cHeader{
    text-align: center;

    .cHeader__logo{
        width: 9.3rem;
        margin-top: 1.5rem;
        margin-bottom: .3rem;
    }

    .cHeader__edition{
        font-family: $secondary;
        font-size: 1.2rem;
    }
}

.cMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    width: 100%;
    margin: auto;

    .cMain__descripition{
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        max-width: 25rem;
    }

    .cMain__carousel{
        width: 18.7rem;
        margin: 2rem 0rem;

        img{
            border-radius: 5px;
        }

        .btnBuy{
            background-color: $secondaryColor;
            color: $mainColor;
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            position: absolute;
            bottom: 0px;
            left: 3%;
            width: 12.5rem;
            box-shadow: 0px 0px 10px black;

            &:hover{
                background-color: $mainColor;
                color: $secondaryColor;
            }
        }
    }

    .cMain__cards{
        width: 100%;
        max-width: 350px;
        margin-bottom: 1rem;

        .cards{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 12.5rem;
            height: 10.3rem;
            background-color: $cardColor;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 1.5rem;

            img{
                width: 2.5rem;
                padding-bottom: 5px;
            }

            p{
                font-size: 1.3rem;
                font-weight: bold;
                line-height: 1.5rem;
            }
        }
        .cardRigth{
            float: right;
            text-align: right;
            align-items: flex-end;
        }
    }

    .cMain__date{
        margin-bottom: 1rem;

        .date{
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center; 
        }

        .local{
            margin-top: -1.3rem;
            font-size: 1.3rem;
            font-weight: bold;
            text-align: end;
        }
    }

    .iconInstaY{
        margin-bottom: 2rem;
        img{
            width: 3.2rem;

            &:hover{
                background-color: rgba(169, 169, 169, 0.411);
                border-radius: 5px;
            }
        }
    }

    .cMain__director{
        width: 100%;
        margin-bottom: 2rem;

        .socialMedias{
            padding-left: 3rem;

            a{
                margin-right: 1.5rem;

                &:hover{
                    background-color: rgba(169, 169, 169, 0.411);
                    border-radius: 5px;
                }
            }
        }
    }
}

.cFooter{
    text-align: center;
    font-size: 1rem;
    font-weight: 100;

    p{
        margin: 0;
    }
}

// responsividade
@media (max-width: 320px) {
    .cMain{
        .cMain__date{
            .date{
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 700px) {
    body{
        box-shadow: 0px 0px 10px #00000071;
    }

    .cMain{
        .cMain__cards{
            max-width: 100%;
            display: flex;
            justify-content: space-around;

            .cards{
                align-items: center;
                text-align: center;
            }
        }

        .cMain__director{
            display: flex;
            flex-direction: column;
            align-items: center;

            .socialMedias{
                padding: 0;
                display: flex;
                gap: 2.5rem;

                a{
                    margin: 0;
                }
            }

        }
    }
}

