@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600;700&display=swap');

$mainColor: #4B0081;
$cardColor: #4b0081a1;
$secondaryColor:#FDD700;

$mainFont: 'Akshar', sans-serif;
$secondary: 'JetBrains Mono', monospace;